/* font-family: 'Iceland', cursive;
font-family: 'Open Sans', monospace;
font-family: 'Roboto', sans-serif;
*/
:root {
  --bg: #161e2c;
  --black-bg-lite: #1b2435;
  --text-gray: #bebebe;
  --text-color: #d8dce6;
  --blue-light: #0ee9cb;
  --red: #f35353;
  --orange: #ff8a37;
  --blue: #347fd5;
  --yellow: #ffc137;
  --pink: hsl(348, 97%, 59%);
}
/* START Making styles */

/* ENDMaking styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
}
body {
  font-family: "Open Sans", monospace;
  background: var(--bg);
}
/* START header*/

.header .nav {
  background: var(--black-bg-lite);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  color: var(--white-color);
  margin-bottom: 30px;
  border-bottom-style: none;
  border-bottom: 1px solid #2a3549;
}

.nav .nav-item {
  font-size: 1em;
}
.nav-item:nth-child(2) {
  background: var(--bg);
  padding: 8px 25px;
  transition: 0.2s;
  border-radius: 0.5em;
  cursor: pointer;
  border: 2px solid var(--blue);
}

.nav-item:nth-child(2):hover {
  background: var(--bg);
  border: 2px solid var(--blue-light);
}
/*END header */
.world {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0 10px;
  margin-bottom: 30px;
}
.aside-world {
  width: 25%;
  margin-top: 40px;
}

.aside-world::before {
  content: "";
  display: inline-block;
  background: var(--red);
}
.event-time-lap {
  display: flex;
  justify-content: center;
  padding: 0px 10px;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 10px;
}

.notice-list {
  padding: 1em;
  box-shadow: -3px 1px 4px 0px #1f293b;
  border-radius: 20px;
}
.notice-item {
  margin-bottom: 1em;
}

.event-time-lap .fa-chart-bar {
  font-size: 1.7em;
  padding: 0px 10px;
}
.world-notice {
  border-radius: 15px;
  width: 100%;
  background: var(--black-bg-lite);
  font-size: 1.1em;
  display: flex;
  flex-flow: column wrap;
}

.notice-new-notice {
  color: var(--text-color);
}

.notice-new-notice::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background: var(--pink);
  margin-right: 10px;
  border-radius: 5px;
}

/* 
Icons */
.world-title-div {
  position: relative;
}
.fa-long-arrow-alt-right {
  font-size: 1.3em;
  padding-right: 0.2em;
  color: var(--pink);
  position: absolute;
  bottom: 20%;
}

/*END Icons */

/*START Informacion global */
.world-info {
  border-radius: 1em;
  width: 73%;
  padding-top: 40px;
}

.world-title {
  margin-left: 10%;
}

.world-info .info-title {
  font-size: 1.3em;
  font-weight: 700;
  line-height: 1.5em;
  display: inline-block;
  padding-right: 10px;
}

.world-info .info-text {
  font-size: 20px;
  color: var(--text-gray);
}
.world-data {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

.world-data .card {
  font-family: "Iceland", monospace;
  width: 30%;
  margin: 0px 10px;
  height: 170px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0px;
  font-weight: 400;
  border-radius: 10px;
  box-shadow: 0px 1px 0px 1px #1f293b;
  font-size: 56px;
  margin-bottom: 20px;
}

.world-data-text {
  color: var(--text-gray1);
  font-size: 0.4em;
  font-family: "Open Sans", normal;
  font-weight: 400;

  color: var(--text-gray);
}
.world-data-num {
  font-size: 0.7em;
  color: var(--text-color);
}

.world-data .card:nth-child(1) .world-data-num {
  color: var(--blue);
}
.world-data .card:nth-child(2) .world-data-num {
  color: var(--pink);
}
.world-data .card:nth-child(3) .world-data-num {
  color: var(--blue-light);
}
.world-data .card:nth-child(4) .world-data-num {
  color: var(--yellow);
}
.world-data .card:nth-child(5) .world-data-num {
  color: var(--red);
}
.world-data .card:nth-child(6) .world-data-num {
  color: var(--orange);
}

/*START Global data per countries section TABLE*/
.countries-data {
  background: var(--black-bg-lite);
  width: 85%;
  margin: 0 auto;
  padding: 2em;
  border-radius: 1em;
  max-width: 2100px;
}

.countries-data .fa-globe {
  padding-right: 10px;
}

.countries-data td:nth-child(2) {
  color: var(--blue-light);
}
.countries-data td:nth-child(3) {
  color: var(--red);
}
.countries-data td:nth-child(4) {
  color: var(--orange);
}
.countries-data td:nth-child(5) {
  color: var(--pink);
}
.countries-data td:nth-child(6) {
  color: var(--blue);
}
.countries-data td:nth-child(7) {
  color: var(--yellow);
}
.countries-data-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.countries-data-h2 {
  font-size: 1.3em;
}
.countries-data .fa-globe-americas {
  font-size: 1.3em;
  color: white;
  margin-right: 0.2em;
}

.countries-data .countries-data-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}

.countries-data .countries-data-header .search-bar {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.countries-data .search-bar-label {
  color: var(--text-gray);
  font-size: 1em;
  padding-right: 10px;
}
.countries-data .search-bar-input {
  background: var(--black-bg-lite);
  border-style: none;
  background: var(--bg);
  padding: 0.7em;
  border-radius: 0.5em;
  border: 2px solid var(--bg);
  font-size: 0.7em;
}
.countries-data .search-bar-input:focus {
  color: pink;
  outline: none;
  border-style: none;
  border: 2px solid var(--pink);
}

.table {
  height: 500px;
  margin: 0px;
  padding: 0px;
  overflow: auto;
  margin-top: 1em;
}
.content-table {
  width: 100%;
  background: var(--bg);
  padding: 30px;
  font-size: 1em;
  border-collapse: collapse;
}

.content-table tr {
  border: 3px solid var(--black-bg-lite);
  text-align: left;
}

.content-table th,
.content-table td {
  padding: 10px 6px;
  font-weight: 600;
}
.content-table tbody tr:nth-last-of-type(even) {
  background: var(--black-bg-lite);
}
.content-table th {
  background: var(--pink);

  position: sticky;
  top: 0;
  margin: 0;
  cursor: pointer;
}

/* 
.content-table thead tr th{
  color: var(--text-color);
  text-align: left;
} */
/*END Global data per countries section TABLE*/

/* custom scrool bar */
::-webkit-scrollbar {
  width: 10px;
  height: 2px;
}
::-webkit-scrollbar-thumb {
  background: #445175;
  background: linear-gradient(transparent, #445175);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--pink);
}

/* Responsive design */
@media screen and (max-width: 1200px) {
  .aside-world {
    width: 28%;
  }
  .world-info {
    width: 70%;
  }
  .world-data {
    flex-flow: row wrap;
  }

  .world-data .card {
    width: 45%;
    height: 100px;
    padding: 0;
  }
  .countries-data {
    width: 95%;
  }
}

@media screen and (max-width: 850px) {
  .aside-world {
    width: 40%;
  }
  .world-info {
    width: 58%;
  }
  .world-data .card {
    width: 100%;
  }
  .countries-data {
    width: 98%;
    margin: 0 auto;
    padding: 0;
    border-radius: 0;
  }
  .table {
    width: 100%;
    padding: 0;
  }
  .table .content-table {
    padding: 0;
    width: 100%;
    margin: 0;
  }
  .countries-data .countries-data-header {
    display: flex;
    flex-flow: column;
    text-align: left;
    justify-content: center;
    padding: 10px;
    align-items: flex-start;
  }
  .countries-data .countries-data-title {
    margin-bottom: 10px;
  }

  .countries-data .countries-data-header .search-bar {
    width: 100%;
    padding: 0;
    margin: 0px;
  }

  .countries-data .countries-data-header .search-bar-input {
    display: block;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .aside-world {
    text-align: center;
    width: auto;
    padding: 10px;
    margin: 0 auto;
    display: none;
  }

  .world {
    width: 100%;
    margin: 0;
  }
  .world-data .card {
    height: 80px;
    box-shadow: none;
    font-weight: bold;
    width: 100%;
  }
  .world-info {
    width: 100%;
  }
  .world-title {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }

  .world-title-div {
    margin: 0 auto;
    text-align: center;
  }
  .info-text {
    text-align: center;
  }
}
